{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": 12 } }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
