{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": 12 } }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
