@import '../../../variables.scss';

header.nav-bar {
  -webkit-app-region: drag;
  height: $navbar-height;
  width: 100%;
  padding: 0px;
  position: fixed;
  z-index: 1;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-right: 0px;

  .title {
    font-weight: 400;
    margin: 0;
    font-size: 1.17188rem;
  }

  span:not(.title) {
    padding: 8px;
  }

  > *:not(:last-child) {
    color: white;
    margin-right: 1rem;
  }
}

.app-buttons {
  margin-left: auto;
}

.app-button {
  margin-left: 0.4em;
  height: $navbar-height;
  width: $navbar-height * 0.75;
}

.app-button:hover {
  background-color: rgba($color: white, $alpha: 0.2);
}
.app-close-button {
  border-top-right-radius: 0;
  svg {
    transition-duration: 0.3s;
  }
}
.app-close-button:hover {
  background-color: rgba($color: red, $alpha: 0.6);
  svg {
    color: white;
  }
}
.clickable {
  -webkit-app-region: no-drag;
}

.logo {
  border-radius: 45%;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  // margin-right: 1rem;
  height: 48px;
  width: 48px;
}
